.autoComplete{
  width: 100%;
  padding: 0 10px;;
  max-width: 500px;
  z-index: 999;
  position: relative;
}

.autoComplete .input{
  width: 100%;
  font-size: 1.3rem;
  border: 2px solid black;
  border-radius: 0px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  box-sizing: border-box;
}