.searchBox .searchBtn{
  height:100%;
  background:none;
  border:2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.2rem;
  margin-left: 3px;;
}

.searchBox .searchBtn:hover{
  background-color:rgb(211, 208, 208);
  cursor: pointer;
}